/* font */
body{
    font-family: 'Poppins', sans-serif;
}
/* banner part  */
.section1{
    display: flex;
    background-color: rgb(29, 6, 158);
    color: white;
    font-size: 30px;
}
.div1{
    padding: 10%;
    font-size:bold;
}
.section1 img{
    width: 556px;
    padding-top: 18%;
} 
.link-button{
    text-decoration: none;
    background-color:#E02C6D;
    color: white;
    padding: 2%;
    font-size: small;
}
.fa-arrow-right{
    padding-left: 2%;
    padding-right: 2%;
}
/* player introduction  */
main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container{
    background-color: #f7eeee;
    width: 870px;
    padding: 23px;
    margin-top: 21px;
    border-radius: 5px;
}
.players{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-column-gap: 24px;
}
.player .player-image img{
    width:220px;
    height: 150px;

}
.player-info{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.box-shadow{
    box-shadow: 10px 10px 40px rgb(201, 199, 199);
    padding:5%;
    margin:5%;

   
}
.div-player{
    width: 100%;

}
/* match hi-light point  */
.section3{
    display: flex;
    color: white;
    margin: 15px;

}
.section3 img{
    width: 100%;
    font-size: 30px;
    
} 

.headline{ 
    color: black;
    font-size:30px;
    

}
#p{
    font-size: 12px ;
    color:black;
    margin: 5px;

}
.link-button2{
    text-decoration: none;
    background-color:#E02C6D;
    color: white;
    padding:1%;
    font-size: small;
}
.div3{
    
    padding-left:10%;
    
}
/* footer part  */

.footer{
    padding-top: 10%;
    padding-bottom: 50px;
    text-align:center;
    color: black;
}  


.footer img{
    width:30%;
}
.fa-instagram-square{
    padding:.5%;
    background-color: rgb(197, 193, 193);
    border-radius:50%;
}
.fa-facebook-f{
    padding: .5%;
    background-color: rgb(197, 193, 193);
    border-radius:50%;
}
.fa-twitter-square{
    padding: .5%;
    background-color: rgb(197, 193, 193);
    border-radius:50%;
}
.fa-youtube{
    padding:.5%;
    background-color: rgb(197, 193, 193);
    border-radius:50%;
}
